@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');

#home{
    background: url('../../assets/abstract_1.svg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1rem;
}
.home h1,h2{
    font-family: 'AR One Sans', sans-serif;
}
.home h1{
    font-size: 1.7rem;
}
.home h2{
    color: rgb(82, 82, 82);
}
@media(min-width:1024px){

    .home h1{
        font-size: 2rem;
    }
}