@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');


.header{
    z-index: 1000;
    box-shadow: rgba(38, 175, 255, 0.466) 0px 7px 29px 0px;
}
.header h1{
    font-family: 'AR One Sans', sans-serif;

}
