#home{
  height: 100vh;
}
#home,#about,#events,#team{
  width: 100vw;
  padding: 1rem;
}
#about,#team,#events{
  height: max-content;
}
p{
  color: rgb(94, 94, 94);
}
@media(min-width:1024px){
  #about,#events,#team{
    height: 100vh;
  }
  
}