@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Open Sans";
  font-weight: 400;
  color: #213547;
  background-color: hsl(0, 0%, 100%);
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 0;
}
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1,h2 {
  margin: 0;
}
