@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'AR One Sans', sans-serif;
  font-weight: 400;
  color: #213547;
  background-color: hsl(0, 0%, 100%);
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1,h2 {
  margin: 0;
}
p{
  font-family: "Open Sans";

}
button{
  padding: 10px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}
h3{
  font-family: "Open Sans";
}


